.header_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 5px;
  border-radius: 50px;
  max-width: 350px;
  height: 35px;
  background-color: #fff;
}
.header_box .search {
  color: #0993dd;
}
.header_box input {
  outline: none;
  border: none;
  max-width: 200px;
  border-radius: 40px;
  padding: 5px 10px;
}
.header_box button {
  width: 60px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #0993dd;
  border-radius: 50px;
  height: 30px;
  cursor: pointer;
}
